@media (min-width:1024px){
body {
    background-color: red;
}
}

@media (min-width:600px) and (max-width:1024px) {
    body {
        background-color: blue;
    }
}

@media (min-width:320px) and (max-width:600px) {
    body {
        background-color: green;
    }
}
